:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  width: 100vw;
  background-image: linear-gradient(
    to bottom,
    #0072e4,
    #167ce8,
    #2685ed,
    #348ff0,
    #4198f4,
    #4198f4,
    #4198f4,
    #4198f4,
    #348ff0,
    #2685ed,
    #167ce8,
    #0072e4
  );
}

.ta-c {
  text-align: center;
}
.d-b {
  display: block;
}
.pos-r {
  position: relative;
}
.pos-a {
  position: absolute;
}
.d-f {
  display: flex;
}
.g-4 {
  gap: 4px;
}
.g-6 {
  gap: 6px;
}
.ai-c {
  align-items: center;
}
.ac-c {
  align-content: center;
}
.ac-fe {
  align-content: flex-end;
}
.ai-fs {
  align-items: flex-start;
}
.ai-fe {
  align-items: flex-end;
}
.jc-c {
  justify-content: center;
}
.jc-fs {
  justify-content: flex-start;
}
.jc-fe {
  justify-content: flex-end;
}
.f-1 {
  flex: 1;
}
.fw-w {
  flex-wrap: wrap;
}
.fw-nw {
  flex-wrap: nowrap;
}
.fd-c {
  flex-direction: column;
}
.jc-sb {
  justify-content: space-between;
}
.jc-sa {
  justify-content: space-around;
}
.d-b {
  display: block;
}
.ovf-a {
  overflow: auto;
}
.ovfx-a {
  overflow-x: auto;
}
.ovfy-a {
  overflow-y: hidden;
}
.ovf-h {
  overflow: hidden;
}
.w-100 {
  width: 100%;
}
.h-100 {
  height: 100%;
}
.py-8 {
  padding-left: 8px;
  padding-right: 8px;
}
.reverse-bg {
  background-image: linear-gradient(to top, #0072e4, #137be8, #2385eb, #318eee, #3e97f1);
}

/* VISUALIZATION */
#weather-trend {
  left: 0;
  top: 0;
  transform: translateY(-100%);
}
